<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go Code: {{.Name}}</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div class="example" id="{{.ID}}">
      <h2><a href="./">Go Code</a>: {{.Name}}</h2>
        {{if .SummaryHTML}}
        <div class="summary">
                {{.SummaryHTML}}
        </div>
        {{end}}
      {{range .Sections}}
      <table>
        {{range .}}
        <tr>
          <td class="code">
            {{.CodeHTML}}
          </td>
          <td class="{{if .DocsHTML}}docs{{end}}">
            {{.DocsHTML}}
          </td>
        </tr>
        {{end}}
      </table>
      {{end}}
	<div class="pager">
      {{if .Prev}}
      <p class="prev">
        Prev: <a href="{{.Prev.ID}}.html">{{.Prev.Name}}</a>.
      </p>
      {{end}}
      {{if .Next}}
      <p class="next">
        Next: <a href="{{.Next.ID}}.html">{{.Next.Name}}</a>.
      </p>
      {{end}}
	</div>
      <p class="footer">
	by <a href="https://github.com/datawolf">@datawolf</a> | <a href="mailto:wanglong@laoqinren.net">联系我</a>
      </p>
    </div>
  </body>
</html>
