<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go Code</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">我写的一些GO代码片段</a></h2>

      <p>
	在学习Go语言的过程中，我所写的一些代码片段，并进行了注释，以便于更好的理解Go语言。
      </p>
      <ul>
      {{range .}}
        <li><a href="{{.ID}}.html">{{.Name}}</a></li>
      {{end}}
      </ul>
      <p class="footer">
        by <a href="https://github.com/datawolf">@datawolf</a> | <a href="mailto:wanglong@laoqinren.net">联系我</a> 
      </p>
    </div>
  </body>
</html>
